<div class="cuadrado">
  <!-- Título -->
  <div class="title">
    <p>Sign Up</p>
    <hr>
  </div>
  <!-- Form de registro -->
  <div>
    <div class="container">
      <form>
        <div class="form-row mb-4">
          <!-- FistName -->
          <div class="col">
            <input type="text" class="form-control junto" id="firstName" placeholder="First Name">
          </div> 
          <!-- LastName -->
          <div class="col">
            <input type="text" class="form-control junto" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <!-- Email -->
        <div class="form-group mt-4">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <!-- Password -->
        <div class="form-group mt-4">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>  
        <!-- Button Submit -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>