.foto{
  background: url("../../../assets/images/fotoLogin.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formulario {
  background-color: #23211A;
  background-size: cover;
  height: 550px;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

p:nth-child(1) {
  font-size: 230%;
  text-align: center;
  width: 93%;
  padding-top: 5%;
  padding-left: 5%;
  text-shadow: 2px 2px 4px #000000;
}

p:nth-child(2) {
  font-size: 150%;
  text-align: center;
  width: 90%;
  padding-left: 10%;
}

span {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 220%;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 30px;
}

.row {
  box-shadow: 6px 6px 10px #000000;
}

// Estilos para los botones
.btn {
  position: relative;
  color: white;
  width: 220px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
    left: 4px;
    z-index: 1;
  
  opacity: 0;
  background: rgba(35, 33, 26, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 5px solid rgba(202, 161, 12, 0.787);
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

.main-container{
  min-height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

//  Cuando sea vista movil
@media (max-width: 575px) {  
  .main-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .row {
    box-shadow: 0px 0px 0px #000000;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
