.modal-body, .modal-header, .modal-footer {
  background: #ece5c6;
  border: none;
}

.modal-header {
  padding-bottom: 4px;
  padding-top: 4px;
}

.modal-body {
  color: rgb(182, 173, 143);
  padding: 26px 0px;
  text-align: justify;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.modal-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: rgb(179, 168, 127);
  text-shadow: 2px 2px 2px #000000;
}

.orderName {
  font-size: 30px;
  font-weight: 200;
  color: rgb(47, 47, 43);
  text-shadow: 1px 1px 1px #000000;
}

.direction {
  font-size: 24px;
  color: rgb(71, 70, 67);
  text-shadow: 1px 1px 1px #000000;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgb(139, 136, 126);
  border-bottom: 1px solid rgb(139, 136, 126);
  margin: 0px;
}

.divHR {
  background: #ece5c6;
}

.titulo {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 400;
  font-size: 25px;
  color: #201d1d;
  padding-right: 35px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between; 
  height: 40px;
  background: rgb(219, 210, 177);
  width: 100%;
  border-top: 1px solid rgb(173, 166, 143);
  border-bottom: 1px solid rgb(173, 166, 143);
}

p {
  margin-bottom: 0px;
}

.totales {
  text-shadow: .5px .5px .5px #000000;
  background: rgb(202, 184, 118);
  color: #3b3939;
  border-top: 2px solid rgb(165, 149, 92);
  border-bottom: 2px solid rgb(165, 149, 92);
}

.producto {
  font-family: 'Ubuntu', sans-serif;
  font-size: 21px;
  color: #363333;
  padding-right: 35px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between; 
  height: 38px;
  width: 100%;
  border-bottom: 1px dotted rgb(173, 166, 143);
}

.noBorder {
  border: none;
}

.price {
  font-family: 'Fjalla One', sans-serif;
}

.quantity {
  font-family: 'Fjalla One', sans-serif;
  color: #423030;
  font-size: 24px;
}

.direcciones {
  display: flex;
  justify-content: space-between;
  background: #ece5c6;
  padding-left: 16px;
  padding-right: 16px;
}

.sideDishes {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
}

.aux {
  color: #241c1c;
  font-size: 13px;
}

ngx-select-dropdown {
  width: 75%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  border: 0px;
}

.badge {
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.badge:hover {
  background: rgb(138, 113, 23);
  color: rgb(255, 255, 255);
}

.aux:hover {
  background: rgb(128, 9, 9);
  color: rgb(212, 208, 208);
}

.delivery {
  background: #ece5c6;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  color: #363333;
  text-shadow: .3px .3px .3px #000000;
}

.deliveryDiv {
  background: #ece5c6;
  padding-left: 30px; 
  padding-bottom: 2px; 
}

.form-control {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px; 
  border-color: rgb(255, 255, 255);
  text-align: center;
  background: rgb(255, 255, 255); 
  color: rgb(49, 48, 46);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 17px;
  height: 35px;
  margin-bottom: 0px !important;
}

.divName {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 7px;
  background: #ece5c6;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .delivery {
    font-size: 15px;
  }
}


// Estilos de los botones
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-weight: 800;
  border-width: 1.5px;
  margin-bottom: 0px; 
  margin-top: 0px; 
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 70px;
}

.btn-gray {
  color: rgb(51, 49, 44);
  border-color: rgb(51, 49, 44);
  background: transparent;
}

.btn-gray:hover:enabled {
  background: rgb(51, 49, 44);
  color: rgb(233, 223, 183);
  border-color: rgb(51, 49, 44);
}

.btn-yellow {
	color: rgb(216, 175, 27);
  border-color: rgb(216, 175, 27);
  background: transparent;
}

.btn-yellow:hover {
    background: rgb(216, 175, 27);
    color: #ece5c6;
    border-color: rgb(216, 175, 27);
}

.btn-sm {
  padding-left: 18px;
  padding-right: 18px;
}

.sm1 {
  padding-left: 30px;
  padding-right: 30px;
}