.modal-body, .modal-header, .modal-footer {
  background: #535149;
}

.modal-body {
  color: rgb(182, 173, 143);
  padding: 26px 40px;
  text-align: justify;
}

.modal-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: rgb(179, 168, 127);
  text-shadow: 1px 1px 1px #000000;
}

.form-control {
  font-family: 'Ubuntu Condensed', sans-serif;
  border-radius: 5px; 
  border-color: rgb(47, 45, 38);
  text-align: center;
  background: rgb(47, 45, 38); 
  color: rgb(233, 223, 183);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  height: 55px;
}

.label {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  color: rgb(233, 223, 183);
  margin-bottom: 10px;
  text-align: center;
}

.invalid-feedback {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
}


// Estilos de los botones
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-weight: 800;
  border-width: 2.5px;
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 70px;
}

.btn-gray {
  color: rgb(51, 49, 44);
  border-color: rgb(51, 49, 44);
  background: transparent;
}

.btn-gray:hover:enabled {
  background: rgb(51, 49, 44);
  color: rgb(233, 223, 183);
  border-color: rgb(51, 49, 44);
}

.btn-yellow {
	color: #F8C822;
  border-color: #F8C822;
  background: transparent;
}

.btn-yellow:hover {
    background: #F8C822;
    color: rgb(37, 34, 28);
    border-color: #F8C822;
}

.btn-sm {
  padding-left: 18px;
  padding-right: 18px;
}

.sm1 {
  padding-left: 30px;
  padding-right: 30px;
}