<div class="row statsInfo">
  <!-- Cantidad de ingresos de todas las ventas -->
  <div class="totalSales col-lg-3 col-md-3 col-sm-6 col-xs-6 izq">
    <div class="icono">
      <i class="fas fa-money-bill-alt"></i>
    </div>
    <div class="info">
      <p class="statTitle">Total Sales</p>
      <p class="numberInfo sales">$2589.6</p>
    </div>
  </div>
  <!-- Cantidad de usuarios registrados en la aplicación -->
  <div class="cantUsers col-lg-3 col-md-3 col-sm-6 col-xs-6 der">
    <div class="icono">
      <i class="fas fa-users"></i>
    </div>
    <div class="info">
      <p class="statTitle">Users Count</p>
      <p class="numberInfo">#168</p>
    </div>
  </div>
  <!-- Cantidad de ordenes hechas -->
  <div class="ordersDone col-lg-3 col-md-3 col-sm-6 col-xs-6 izq">
    <div class="icono">
      <i class="fa fa-clipboard-check"></i>
    </div>
    <div class="info">
      <p class="statTitle">Orders Done</p>
      <p class="numberInfo">#39</p>
    </div>
  </div>
  <!-- Cantidad de ordenes pendientes -->
  <div class="ordersPending col-lg-3 col-md-3 col-sm-6 col-xs-6 der">
    <div class="icono">
      <i class="fa fa-clipboard-list"></i>
    </div>
    <div class="info">
      <p class="statTitle">Pending Orders</p>
      <p class="numberInfo">#12</p>
    </div>
  </div>

</div>
