.container {
  padding: 0;
}

.foto {
  width: 100%;
}

.row {
  margin: 0;
}

.divFoto {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.6);
}

.filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filtro-activo {
  background-color: rgb(37, 36, 31) !important;
}

.container-fill {
  height: 100%;
  color: white;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.6);
}

.filtros div {
  font-size: 90%;
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 36px;
  text-shadow: 2px 2px 4px #000000;
}

.divMenu {
  margin-bottom: 40px;
  margin-top: 40px;
  background: #3A3731;
  height: 100%;
  width: 100%;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.spanPlato {
  width: 100%;
}

// Estilos del botón
.btn {
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: rgb(68, 67, 59);
  color: #ffffff;
  border-radius: 0;
}

.btn-primary:active {
  background: rgb(37, 36, 31) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: rgb(37, 36, 31);
}

.btn-primary:active, .btn-primary.active {
  background: rgb(36, 34, 26);
  box-shadow: none;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .divFoto {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    box-shadow: none;
  }

  .container-fluid {
    padding: 0;
  }

  .divMenu {
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .filtros div {
    font-size: 90%;
  }
}

//  Cuando sea mayor a 1500px
@media (min-width: 1500px) {
  .container {
    max-width: 2000px;
  }
}

//  Cuando sea mayor a 1200px
@media (min-width: 1200px) {
  .filtros div {
    font-size: 2vw;
    height: 4vw;
  }
}


