<div class="container-fluid">
  <div class="divFoto">
    <img src="../../../assets/images/bannerDash.png" class="foto" alt="">
  </div>
</div>

<app-title-banner [title]="'Our Menu'"></app-title-banner>

<div class="container-fill">
  <div class="filtros">
    <div class="btn btn-primary" (click)="showDish('Pizzas')" [ngClass]="{'filtro-activo': typeDishShow == 'Pizzas'}">Pizzas</div>
    <div class="btn btn-primary" (click)="showDish('Fishes')" [ngClass]="{'filtro-activo': typeDishShow == 'Fishes'}">Fishes</div>
    <div class="btn btn-primary" (click)="showDish('Soups')" [ngClass]="{'filtro-activo': typeDishShow == 'Soups'}">Soups</div>
    <div class="btn btn-primary" (click)="showDish('Pastas')" [ngClass]="{'filtro-activo': typeDishShow == 'Pastas'}">Pastas</div>
    <div class="btn btn-primary" (click)="showDish('Others')" [ngClass]="{'filtro-activo': typeDishShow == 'Others'}">Others</div>
  </div>
</div>

<div class="container">
  <div class="divMenu">
    <!-- Si no se han cargado los platos -->
    <div *ngIf="!loaded" class="text-center"> 
      <h4 class="display-4">LOADING</h4>
      <img src="../../../assets/images/loading.gif" class="mb-2">
    </div>
    <!-- Platos del menú -->
    <div class="row text-center">
      <ng-container *ngFor="let dish of dishes">
        <div *ngIf="dish.type == typeDishShow" class="col-lg-6 col-md-6 col-sm-12">
          <app-dish-card [dish]="dish"></app-dish-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>