<div class="container">
  <div class="divFoto">
    <img src="../../../assets/images/bannerDash.png" class="foto" alt="">
  </div>
</div>

<div class="container-completo">
  <div class="title-menu">
    <span>Our Menu</span>
  </div>
</div>

<div class="container-fill">
  <div class="filtros">
    <div class="btn btn-primary">Pizzas</div>
    <div class="btn btn-primary">Fishes</div>
    <div class="btn btn-primary">Soups</div>
    <div class="btn btn-primary">Pastas</div>
    <div class="btn btn-primary">Others</div>
  </div>
</div>

<div class="container">

</div>