<div class="container-fluid">
  <div class="divFoto">
    <img src="../../../assets/images/bannerDash.png" class="foto" alt="">
  </div>
</div>

<div class="container-completo">
  <span><i class="fa fa-ellipsis-v"></i> &nbsp;&nbsp;Our Menu&nbsp;&nbsp; <i class="fa fa-ellipsis-v"></i></span>
</div>

<div class="container-fill">
  <div class="filtros">
    <div class="btn btn-primary" (click)="showDish('Pizzas')" [ngClass]="{'filtro-activo': typeDishShow == 'Pizzas'}">Pizzas</div>
    <div class="btn btn-primary" (click)="showDish('Fishes')" [ngClass]="{'filtro-activo': typeDishShow == 'Fishes'}">Fishes</div>
    <div class="btn btn-primary" (click)="showDish('Soups')" [ngClass]="{'filtro-activo': typeDishShow == 'Soups'}">Soups</div>
    <div class="btn btn-primary" (click)="showDish('Pastas')" [ngClass]="{'filtro-activo': typeDishShow == 'Pastas'}">Pastas</div>
    <div class="btn btn-primary" (click)="showDish('Others')" [ngClass]="{'filtro-activo': typeDishShow == 'Others'}">Others</div>
  </div>
</div>

<div class="container">
  <div class="divMenu">
    <!-- Platos del menú -->
    <div class="row text-center">
      <ng-container *ngFor="let dish of dishes"> <!-- Esto es porque no se puede usar ngFor y ngIf en el mismo tag-->
        <div *ngIf="dish.type == typeDishShow" class="col-lg-6 col-sm-12">
          <app-dish-card [dish]="dish"></app-dish-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>