.foto {
  width: 100%;
}

.divFoto {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-completo {
  height: 100%;
  background: rgb(37, 36, 31);
  color: white;
  font-family: 'Amaranth', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-fill {
  height: 100%;
  color: white;
  font-size: 1.4rem;
}

.filtros div {
  width: 100%;
  font-size: 50%;
  text-align: center;
  border-right: 2px solid #F8C822;
  border-left: 2px solid #F8C822;
  font-family: 'Ubuntu', sans-serif;
  height: 30px;
}

.filtros div:nth-child(1) {
  border: 0;
  border-right: 2px solid #F8C822;
}

.filtros div:nth-child(5) {
  border: 0;
  border-left: 2px solid #F8C822;
}

// Estilos del botón
.btn {
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: rgb(54, 53, 46);
  color: #ffffff;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: rgb(26, 24, 18);
}

.btn-primary:active, .btn-primary.active {
  background: rgb(36, 34, 26);
  box-shadow: none;
}