.title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    background: #3A3731;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
    padding-bottom: 40px;
    padding-top: 20px;
    margin-bottom: 30px;
}





//  Cuando sea vista movil
@media (max-width: 575px) {
    .title {
        margin: 0;
    }

    .container {
        margin-bottom: 0;
    }
}

//  Cuando sea máximo 991
@media (max-width: 991px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}