.title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    background: #3A3731;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
    padding-bottom: 40px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.contTable p {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 58px;
    color: rgba(248, 200, 34, 1);
    text-shadow: 5px 5px 5px #000000;
}

.contTable img {
    height: 250px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#loader {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 5px 5px 5px #000000;
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(219, 210, 177);
}

.contTable p:nth-child(3) {
    font-weight: 900;
    color: rgb(179, 168, 127);
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 44px;
}



//  Cuando sea vista movil
@media (max-width: 575px) {
    .title {
        margin: 0;
    }

    .container {
        margin-bottom: 0;
    }

    .contTable p {
        font-size: 40px;
        text-shadow: 3px 3px 3px #000000;
    }
    
    .contTable img {
        height: 200px;
        margin-top: 10px;
    }
    
    .contTable p:nth-child(3) {
        font-weight: 900;
        color: rgb(179, 168, 127);
        text-shadow: 2px 2px 2px #000000;
        font-size: 28px;
        margin-bottom: 10px;
    }
}

//  Cuando sea máximo 991
@media (max-width: 991px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}