.title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-fluid {
    width: 90%;
    background: #3A3731;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}





//  Cuando sea vista movil
@media (max-width: 575px) {

}
