.titleBanner{
  margin-bottom: 40px;
}

.fotoSideDish {
  width: 150px;
  padding: 15px;
  transition: .4s;
}

.conjunto {
  width: 150px;
  height: 185px;
  background: rgb(41, 40, 35);
  border-radius: 6px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.fotoPlace:hover > img {
  filter: blur(3px) brightness(50%);
}

.col-xl-2 {
  margin-bottom: 20px;
}

.notch {
  width: 150px;
}

.notchPlace {
  position: relative;
  display: inline-block;
  text-align: center;
}

.fotoPlace {
  width: 150px;
  height: 150px;
}

.sideDishName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

// Estilos del botón
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-width: 2.5px;
  width: 260px;
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 20px;
}

.btn-gray {
  color: rgb(51, 49, 44);
  border-color: rgb(51, 49, 44);
  background: transparent;
}

.btn-gray:hover:enabled {
  background: rgb(51, 49, 44);
  color: rgb(233, 223, 183);
  border-color: rgb(51, 49, 44);
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .col-xs {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .notch {
    width: 100px;
  }

  .fotoSideDish {
    width: 100px;
  }

  .fotoPlace {
    width: 100px;
    height: 100px;
  }
  
  .conjunto {
    width: 100px;
    height: 125.672px;
  }

  .sideDishName {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 990px) {
  .btn {
    width: 300px;
    margin-bottom: 8px;
  }
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .btn {
    font-size: 11px;
    width: 290px;
    margin-bottom: 6px;
  }
}
