<div class="container-fluid pt-3 pb-3 cont">
        <div class="mb-5">
            <app-title-banner [title]="action" *ngIf="this.accordionOpen != ''"></app-title-banner>
        </div>
        <form [formGroup]="form">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text dolar"><i class="fas fa-file-signature"></i></span>
                    </div>
                    <input formControlName="name" type="text" class="form-control" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon2">
                </div>
            
                <div class="form-row text-center my-3">
                    <input type="file" name="fileMain" class="inputfile" id="cEThumbnail">
                    <ng-container *ngIf="file">
                        <label for="cEThumbnail"><i class="fas fa-upload mr-3"></i>
                            <span class="bold">
                                {{ file.name.split( '\\').pop() }}
                            </span>
                        </label>
                    </ng-container>
                    <ng-container *ngIf="!file">
                        <label for="cEThumbnail"><i class="fas fa-upload mr-3"></i>Main-Dish <span class="bold">thumbnail</span></label>
                    </ng-container>
                </div>
            
                <div class="form-row text-center my-3">
                    <input type="file" name="fileReal" class="inputfile" id="cERThumbnail">
                    <ng-container *ngIf="fileR">
                        <label for="cERThumbnail"><i class="fas fa-upload mr-3"></i>
                            <span class="bold">
                                {{ fileR.name.split( '\\').pop() }}
                            </span>
                        </label>
                    </ng-container>
                    <input type="file" name="fileReal" class="inputfile" id="cERThumbnail">
                    <ng-container *ngIf="!fileR">
                        <label for="cERThumbnail"><i class="fas fa-upload mr-3"></i>Real Main-Dish <span class="bold">thumbnail</span></label>
                    </ng-container>
                </div>
            
                <div class="form-row text-center">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text dolar">1°</span>
                            </div>
                            <select formControlName="sidedish1" class="custom-select" id="inputGroupSelect03">
                                <option disabled>Choose 1° Side-Dish</option>
                                <option *ngFor="let option of sideDishes; let i = index;" [ngValue]="option.id">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text dolar">2°</span>
                            </div>
                            <select formControlName="sidedish2" class="custom-select" id="inputGroupSelect03">
                                <option disabled>Choose 2° Side-Dish</option>
                                <option *ngFor="let option of sideDishes; let i = index;" [ngValue]="option.id">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            
                <div class="form-row text-center">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text dolar"><i class="fas fa-utensils"></i></span>
                            </div>
                            <select formControlName="type" class="custom-select" id="inputGroupSelect02">
                                <option disabled>Choose type of Product</option>
                                <option *ngFor="let option of types; let i = index;" [ngValue]="i">{{ option }}</option>
                            </select>
                        </div>
                    </div>
            
            
                    <div class="col">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text dolar">&nbsp;<i class="fas fa-dollar-sign"></i>&nbsp;</span>
                            </div>
                            <input formControlName="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Price of the Product">
                        </div>
                    </div>
                </div>
            
                <div class="d-flex justify-content-center">
                    <input type="button" class="btn btn-medium btn-gray" [ngClass]="disableFlag? 'disabled' : ''" [disabled]="disableFlag" [value]="action + ' Dish'" (click)="uploadFile()">
                </div>
            </form>
</div>