.cuadrado {
  position: absolute;
  background: #38362D;
  width: 85%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
  color: white;
}