.titleBanner {
    margin: 15px 0;
}

.card {
    margin-bottom: 40px;
    margin-top: 40px;
    background: #3A3731;
    width: 100%;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
    border-radius: 0;
}

.form-control {
    font-family: 'Ubuntu Condensed', sans-serif;
    border-radius: 5px; 
    border-color: rgb(47, 45, 38);
    text-align: center;
    background: rgb(47, 45, 38); 
    color: rgb(233, 223, 183);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    height: 55px;
}

label, input{
    font-family: "Ubuntu", sans-serif;
}

label{
    color: white;
}

.title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: rgb(233, 223, 183);
    text-shadow: 4px 4px 4px #000000;
    margin-bottom: 0px;
    text-align: center;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: rgb(233, 223, 183);
    margin-bottom: 10px;
    text-align: center;
}

.titulo {
    background: #23211A;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid rgba(248, 200, 34, 1);
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid rgb(41, 40, 35);
    margin-top: 0;
    margin-bottom: 30px;
    width: 98%;
}

.card-body {
    padding: 0 0px 15px 0px;
}

// Estilos de los botones
.btn {
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 2.5px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.btn-medium {
    font-size: 1.3em;
    padding: 12px 70px;
}

.btn-yellow {
    color: #F8C822;
    border-color: #F8C822;
    background: transparent;
}

.btn-yellow:hover:enabled {
    background: #F8C822;
    color: rgb(37, 34, 28);
    border-color: #F8C822;
}



//  Cuando sea vista movil
@media (max-width: 575px) {
    .title {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: rgb(233, 223, 183);
        text-shadow: 4px 4px 4px #000000;
    }
    
    .title2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        color: rgb(233, 223, 183);
        margin-bottom: 10px;
        text-align: center;
    }

    .card {
        margin: 0;
        box-shadow: none;
    }

    .container {
        padding: 0;
    }
}


