<div class="titleBanner">
  <app-title-banner [title]="'Change Password'"></app-title-banner>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <!-- Title banners -->
      <div>
          <app-title-banner [title]="'Current Password'" *ngIf="!credentials"></app-title-banner>
          <app-title-banner [title]="'New Password'" *ngIf="credentials"></app-title-banner>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <div class="col-6">
          <div class="text-center">
            <!-- Form de ingresar contraseña actual -->
            <form [formGroup]="formOld" *ngIf="!credentials" (ngSubmit)="reAuth(currentI)" novalidate class="mt-4">
              <div class="form-group ">
                <input formControlName="current" #currentI type="password" class="form-control" placeholder="Current Password"  [ngClass]="{'is-invalid': current.invalid && current.touched}">
                <div [hidden]="!current.invalid || !current.touched" class="invalid-feedback text-left">
                  Password must have at least 6 characters.
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btn-medium btn-yellow mt-5" #submit [disabled]="formOld.invalid" value="Submit">
                </div>
              </div>
            </form>
            <!-- Form de ingresar contraseña nueva -->
            <form [formGroup]="formNew" *ngIf="credentials" (ngSubmit)="changePassword(passwordI)">
              <div class="form-group ">
                <input formControlName="password" #passwordI type="password" class="form-control mt-4" placeholder="Password" [ngClass]="{'is-invalid': (password.touched && password.invalid)}">
                <div [hidden]="!(password.touched && password.invalid)" class="invalid-feedback text-left">
                  Password must have at least 6 characters.
                </div>
              </div>
              <div class="form-group">
                <input formControlName="confirm" #confirmI type="password" class="form-control mt-3" placeholder="Confirm Password" [ngClass]="{'is-invalid': (confirm.touched && passwordI.value !== confirmI.value)}">
                <div [hidden]="!(confirm.touched && passwordI.value !== confirmI.value)" class="invalid-feedback text-left">
                  Passwords do not match.
                </div>
              </div>
              <div>
                <input type="submit" class="btn btn-medium btn-yellow mt-4" #submit [disabled]="passwordI.value !== confirmI.value || !password.dirty" value="Submit">
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>