.stickyPanel {
  position: sticky;
  position: -webkit-sticky;
  display: block;
  top: 30px;
  height: 5px;
}

.titleDish {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding-top: 8px;
  color: rgb(233, 223, 183);
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3.5vw;
  font-weight: 400;
  text-shadow: 4px 4px 4px #000000;
  cursor: default;
}

.dishView {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dishView img{
  width: 76%;
  max-width: 200px;
}

.divView {
  background: #23211a;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(248, 200, 34, 1);
  margin-top: 0;
  margin-bottom: 5px;
  width: 98%;
}

.plato {
  position: absolute;
}

.mainDish {
  position: absolute;
}

.dobleSide {
  position: relative;
}

.primerSide {
  position: absolute;
}

.segundoSide {
  position: relative;
  transform: rotate(90deg);
}

//  Cuando sea maximo 767px
@media (max-width: 767px) {
  .stickyPanel {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    margin-left: 0;
    top: 0;
  }

  .titleDish {
    font-size: 22px;
  }
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .titleDish {
    font-size: 24px;
  }

  .divView {
    box-shadow: none;
  }
}

//  Cuando sea máximo 992
@media (max-width: 992px) {
  .titleDish {
    font-size: 21px;
  }

  .divView {
    margin: 0;
    box-shadow: none;
  }
}


// Estilos del botón
a.btn,.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-weight: 800;
}

.btn-medium {
  font-size: 0.8125em;
  padding: 10px;
}

.btn-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-yellow {
  color: #F8C822;
  border-color: #F8C822;
}
.btn-yellow:hover {
  background: #F8C822;
  color: rgb(37, 34, 28);
  border-color: #F8C822;
}