<div class="modal-header">
  <h4 class="modal-title mx-auto">Your Bill</h4>
</div>

<!-- <div class="divHR">
  <hr>
</div> -->

<div class="modal-body pt-4 pb-4">
      <div class="titulo">
        <span>PRODUCT</span>
        <span>PRICE</span>
      </div>
      <ng-container *ngFor="let dish of cart; let i = index">
        <div class="producto" [ngClass]="{noBorder: i + 1 == cart?.length}">
          <!-- Si NO tiene sideDishes -->
          <ng-container *ngIf="!dish.sideDishes">
            <span>{{ dish.dish.name }} <span class="quantity">x{{ dish.quantity }}</span></span>
          </ng-container>
          <!-- Si tiene sideDishes diferentes -->
          <ng-container *ngIf="dish.sideDishes && dish.sideDishes[0]?.id != dish.sideDishes[1]?.id">
            <span>{{ dish.dish.name }} <span class="sideDishes">[{{ dish.sideDishes[0].name }}x1 {{ dish.sideDishes[1].name }}x1]</span> <span class="quantity"> x{{ dish.quantity }}</span></span>
          </ng-container>
          <!-- Si tiene sideDishes iguales -->
          <ng-container *ngIf="dish.sideDishes && dish.sideDishes[0]?.id == dish.sideDishes[1]?.id">
            <span>{{ dish.dish.name }} <span class="sideDishes">[{{ dish.sideDishes[0].name }}x2]</span> <span class="quantity"> x{{ dish.quantity }}</span></span>
          </ng-container>
          <span class="price">{{ dish.dish.price * dish.quantity | currency : "USD" }}</span>
        </div>
      </ng-container>
      <div class="titulo totales">
        <span>TOTAL</span>
        <span class="price">{{ precioTotal | currency : "USD" }}</span>
      </div>
</div>

<!-- <div class="divHR">
  <hr>
</div> -->

<div class="deliveryDiv">
    <span class="delivery">Select the address for delivery and the order name</span>
</div>
<div class="direcciones">
    <ngx-select-dropdown [multiple]="false" [(value)]="directionToDeliver" [config]="config" [options]="allDirections"></ngx-select-dropdown>
    <span class="badge badge-warning" (click)="addDirection()" popover="New Address" triggers="mouseenter:mouseleave" placement="left"><i class="fas fa-plus"></i></span>
    <span *ngIf="directionToDeliver?.length !== 0 && orderName.length <= 25 && orderName.length >= 1" class="badge badge-danger aux" (click)="completeOrder()" popover="AUX Complete Order" triggers="mouseenter:mouseleave" placement="left"><i class="fas fa-file-invoice"></i></span>
</div>
<div class="divName">
  <input type="text" class="form-control mx-auto mb-4" placeholder="Name of the order (25 characters MAX)" [(ngModel)]="orderName">
</div>

<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-sm btn-gray mt-3" (click)="bsModalRef.hide()">Close</button>
  <ng-container *ngIf="directionToDeliver?.length !== 0 && orderName.length <= 25 && orderName.length >= 1">
    <ngx-paypal class="mt-3" [config]="payPalConfig"></ngx-paypal>
  </ng-container>
</div>