.main-container{
    min-height: calc(100vh - 60px - 50px);
}

@media (max-width: 575px) {
    .main-container{
        min-height: calc(100vh - 60px - 150px);
    }
}

@media (min-width: 1500px) {
    .main-container{
        min-height: calc(100vh - 50px - 60px);
    }
}
