<!-- Navbar que estará en todos los componentes [shared] -->
<app-navbar></app-navbar>

    <div class="main-container">
        <!-- Outlet de todos los links de la App -->
        <router-outlet></router-outlet>
        <!-- <app-home></app-home> -->
        <!-- <app-dashboard></app-dashboard> -->
        <!-- <app-edit-dish></app-edit-dish> -->
        <!-- <app-cart></app-cart> -->
        <!-- <app-purchase-history></app-purchase-history> -->
        <!-- <app-admin></app-admin> -->
    </div>

<!-- Footer que estará en todos los componentes [shared] -->
<app-footer></app-footer>
