<accordion [closeOthers]="oneAtATime" (change)="uploadedFile($event)">
    <!-- Opciones para añadir nuevos productos -->
    <accordion-group (isOpenChange)="newOpen = !newOpen" class="accordions" [panelClass]="customClass">
        <div accordion-heading class="forFlex">
            <p class="titleAccordion">ADD <span class="bold">NEW PRODUCTS</span></p>
            <span *ngIf="!newOpen"><i class="fas fa-chevron-down"></i></span>
            <span *ngIf="newOpen"><i class="fas fa-chevron-up"></i></span>
        </div>

        <app-add-products-accordion></app-add-products-accordion>
    </accordion-group>

    <!-- Opciones para editar productos -->
    <accordion-group (isOpenChange)="newOpen = !newOpen" class="accordions" [panelClass]="customClass">
        <div accordion-heading class="forFlex">
            <p class="titleAccordion">EDIT <span class="bold">PRODUCTS</span></p>
            <span *ngIf="!editOpen"><i class="fas fa-chevron-down"></i></span>
            <span *ngIf="editOpen"><i class="fas fa-chevron-up"></i></span>
        </div>

        <app-edit-products-accordion></app-edit-products-accordion>
    </accordion-group>

    <!-- Opciones para verificar y manejar órdenes pendientes -->
    <accordion-group (isOpenChange)="pendingOpen = !pendingOpen" class="accordions" [panelClass]="customClass">
        <div accordion-heading class="forFlex">
            <p class="titleAccordion">PENDING <span class="bold">ORDERS</span> <span class="badge badge-secondary">8</span></p>
            <span *ngIf="!pendingOpen"><i class="fas fa-chevron-down"></i></span>
            <span *ngIf="pendingOpen"><i class="fas fa-chevron-up"></i></span>
        </div>

        <app-pending-orders-accordion></app-pending-orders-accordion>
    </accordion-group>
</accordion>
