.accordions {
  margin-bottom: 25px;
}

.forFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fas {
  font-size: 40px;
  color: #F8C822;
  text-shadow: 2px 2px 2px #000000;
  padding-right: 15px;
  cursor: pointer;
}

accordion-group {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.badge {
  background: #F8C822;
  color: rgb(44, 43, 39);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  margin-left: 20px;
  line-height: 31px;
  height: 40px;
  animation: beat .5s infinite alternate;
  transform-origin: center;
  text-shadow: none;
  font-family: 'Fjalla One', sans-serif;
}

.bold {
  font-size: 80%;
  font-weight: bolder !important;
}

@keyframes beat{
	to { transform: scale(1.10); }
}

.titleAccordion {
  font-size: 32px;
  margin-bottom: 0;
  padding-left: 5px;
  font-family: 'Ubuntu Condensed', sans-serif;
  align-items: center;
  cursor: pointer;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .titleAccordion {
    font-size: 20px;
  }

  .fas {
    font-size: 23px;
  }

  .badge {
    margin-left: 10px;
    height: 30px;
    line-height: 20px;
  }
}

//  Cuando sea vista movil
@media (max-width: 400px) {
  .titleAccordion {
    font-size: 18px;
  }
}

//  Cuando sea vista movil
@media (max-width: 370px) {
  .titleAccordion {
    font-size: 16px;
  }
}

//  Cuando sea vista movil
@media (max-width: 350px) {
  .titleAccordion {
    font-size: 15px;
  }
}