.titleBanner{
    margin-bottom: 40px;
  }
  
  .input-group {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(110, 105, 104);
  }
  
  .form-control, .custom-select {
    border-radius: 0;
    height: 45px;
    border: inset;
  }
  
  .fotoPlato {
    width: 150px;
    padding: 15px;
    transition: .4s;
  }
  
  .conjunto {
    width: 150px;
    height: 185px;
    background: rgb(41, 40, 35);
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fotoPlace:hover > img {
    filter: blur(3px) brightness(50%);
  }
  
  .col-xl-2 {
    margin-bottom: 20px;
  }
  
  .notch {
    width: 150px;
  }
  
  .notchPlace {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .fotoPlace {
    width: 150px;
    height: 150px;
  }
  
  .dishName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
  
  .message {
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    color: rgb(179, 168, 127);
    text-shadow: 3px 3px 3px #000000;
    margin-bottom: 0px;
  }
  
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(41, 40, 35);
    margin-top: 0;
    margin-bottom: 30px;
    width: 98%;
  }
  
  .plato, .mainDish, .dobleSide, .primerSide, .segundoSide {
    width: 150px;
    padding: 15px;
    transition: .4s;
  }
  
  .plato {
    position: absolute;
  }
  
  .mainDish {
  position: absolute;
  }
  
  .dobleSide {
  position: relative;
  }
  
  .primerSide {
  position: absolute;
  }
  
  .segundoSide {
  position: relative;
  transform: rotate(90deg);
  }
  
  //  Cuando sea vista movil
  @media (max-width: 575px) {
    .col-xs {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .notch {
      width: 100px;
    }
  
    .fotoPlato {
      width: 100px;
    }
  
    .plato, .mainDish, .dobleSide, .primerSide, .segundoSide {
      width: 100px;
    }
    
    .conjunto {
      width: 100px;
      height: 125.672px;
    }
  
    .dishName {
      font-size: 10px;
      line-height: 10px;
    }
  
    .fotoPlace {
      width: 100px;
      height: 100px;
    }
  }
  
  .inputfile {
    width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
    z-index: -1;
  }
  
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: rgb(233, 223, 183);
    background: rgb(41, 40, 35);
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 7px;
    width: 100%;
    cursor: pointer;
  }
  
  .inputfile:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
  }
  
  .inputfile + label * {
      pointer-events: none;
  }
  
  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: #F8C822;
    color: rgb(41, 40, 35);
  }
  
  .bold {
    font-weight: 100;
    font-style: oblique;
  }
  
  .input-group {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(110, 105, 104);
  }
  
  .form-control, .custom-select {
    border-radius: 0;
    height: 45px;
  }
  
  .input-group-text {
    border-radius: 0;
  }
  
  label {
    margin-bottom: 0;
}

.form-group {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.dolar {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
    .inputfile + label {
        font-size: 1em;
    }
}

//  Cuando sea vista movil
@media (max-width: 375px) {
    .inputfile + label {
    font-size: 0.85em;
    }
}

// Estilos de los botones
.btn {
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border-width: 2.5px;
}

.btn-medium {
    font-size: 1.3em;
    padding: 12px 70px;
}

.btn-gray {
    color: rgb(51, 49, 44);
    border-color: rgb(51, 49, 44);
    background: transparent;
}

.btn-gray:hover:enabled {
    background: rgb(51, 49, 44);
    color: rgb(233, 223, 183);
    border-color: rgb(51, 49, 44);
}

.disabled{
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.darkClass{
    background-color: rgb(51, 49, 44);
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
}