<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="titulo">
          <p class="title">RECOVER YOUR PASSWORD</p>
          <p class="title2">Enter your new password</p>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div class="col-9">
          <div class="text-center mt-2">
            <form [formGroup]="form" (ngSubmit)="changePassword(passwordI)">
              <div class="form-group ">
                <input formControlName="password" #passwordI type="password" class="form-control" placeholder="Password" [ngClass]="{'is-invalid': (password.touched && password.invalid)}">
                <div [hidden]="!(password.touched && password.invalid)" class="invalid-feedback text-left">
                  Password must have at least 6 characters.
                </div>
              </div>
              <div class="form-group">
                <input formControlName="confirm" #confirmI type="password" class="form-control" placeholder="Confirm Password" [ngClass]="{'is-invalid': (confirm.touched && passwordI.value !== confirmI.value)}">
                <div [hidden]="!(confirm.touched && passwordI.value !== confirmI.value)" class="invalid-feedback text-left">
                  Passwords do not match.
                </div>
              </div>
              <div>
                <input type="submit" class="btn btn-medium btn-yellow mb-3 mt-3" #submit [disabled]="passwordI.value !== confirmI.value || !password.dirty" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>