.card {
    margin-bottom: 40px;
    margin-top: 40px;
    background: #3A3731;
    height: 400px;
    width: 100%;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

label, input{
    font-family: "Ubuntu", sans-serif;
}

label{
    color: white;
}