<div class="container">
  <div class="card">
    <div class="card-body">
      <div>
        <app-title-banner [title]="'Recover Password'"></app-title-banner>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div class="col-6">
          <div class="text-center">
            <form [formGroup]="form" (ngSubmit)="changePassword(passwordI)">
              <div class="form-group ">
                <label for="password">Password</label>
                <input formControlName="password" #passwordI type="password" class="form-control" placeholder="Password" [ngClass]="{'is-invalid': (password.touched && password.invalid)}">
                <div [hidden]="!(password.touched && password.invalid)" class="invalid-feedback text-left">
                  Password must have at least 6 characters.
                </div>
              </div>
              <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input formControlName="confirm" #confirmI type="password" class="form-control" placeholder="Confirm Password" [ngClass]="{'is-invalid': (confirm.touched && passwordI.value !== confirmI.value)}">
                <div [hidden]="!(confirm.touched && passwordI.value !== confirmI.value)" class="invalid-feedback text-left">
                  Passwords do not match.
                </div>
              </div>
              <div>
                <input type="submit" class="btn btn-secondary" #submit [disabled]="passwordI.value !== confirmI.value || !password.dirty" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>