<div class="container-fluid" *ngIf="!isLoading">
  <ng-container *ngFor="let order of pendingOrders; let i = index">
    <div class="row" [ngClass]="(i !== pendingOrders.length-1)? 'border' : '' ">
      <div class="col-8">
        <span class="userName"> {{ names[i] }} </span>
      </div>
      <div class="col-2">
        <span class="botonOrder" (click)="mostrarOrdenModal(orden)" ><i class="fas fa-utensils"></i></span>
      </div>
      <div class="col-2">
        <span class="botonDelivered" (click)="deliverOrden(order)" ><i class="fas fa-check-double"></i></span>
      </div>
    </div>
  </ng-container>
</div>