<div class="container">
  <div class="divCard">
    <!-- Nombre de la orden -->
    <div class="purchaseName d-flex justify-content-between align-items-center" *ngIf="!editState">
      <span class="name">{{ order.name }}</span>
      <i popover="Edit name" triggers="mouseenter:mouseleave" placement="top" class="far fa-edit" (click)="editName()"></i>
    </div>
    <!-- Editar nombre de la orden -->
    <div class="purchaseNameEdit d-flex justify-content-between align-items-center" *ngIf="editState">
      <input type="text" class="form-control" [(ngModel)]="order.name">
      <i popover="Save name" triggers="mouseenter:mouseleave" placement="top" class="far fa-save" (click)="saveName()"></i>
    </div>

    <hr>
    <!-- Otras opciones -->
    <div class="container">
      <div class="bloque">
        <div class="botones">
          <button class="btn btn-medium btn-yellow" (click)="editAndReorder()" popover="Edit & re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-pencil-alt"></i></button>
          <button class="btn btn-medium btn-yellow sec" (click)="reorder()" popover="Re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-redo-alt"></i></button>
        </div>
        <span class="precio">{{ order.price | currency:'USD' }}</span>
      </div>
    </div>

    <hr>

    <!-- Fecha y Estado de la orden -->
    <div class="container">
      <div class="datos">
        <span class="fecha">{{ order.date }}</span>
        <ng-container *ngIf="order.delivered === true"><span class="delivered"><i class="fas fa-plane-arrival"></i> Delivered!</span></ng-container>
        <ng-container *ngIf="order.delivered === false"><span class="notDelivered"><i class="fas fa-plane-departure"></i> On the way!</span></ng-container>
      </div>
    </div>

  </div>
</div>
