<div class="container">
  <div class="divCard">
    <!-- Nombre de la orden -->
    <div class="purchaseName d-flex justify-content-between align-items-center">
      <span>{{ purchase.name }}</span>
      <i popover="Edit name" triggers="mouseenter:mouseleave" placement="top" class="far fa-edit"></i>
    </div>

    <hr>
    <!-- Otras opciones -->
    <div class="container">

      <div class="bloque">
        <div class="botones">
          <a class="btn btn-medium btn-yellow" href="" popover="Edit & re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn btn-medium btn-yellow" href="" popover="Re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-redo-alt"></i></a>
        </div>
        <span class="precio">{{ purchase.totalPrice | currency:'USD' }}</span>
      </div>

    </div>


  </div>
</div>
