<div class="container">
  <div class="divCard">
    <!-- Nombre de la orden -->
    <div class="purchaseName d-flex justify-content-between align-items-center" *ngIf="!editState">
      <span class="name">{{ purchase.name }}</span>
      <i popover="Edit name" triggers="mouseenter:mouseleave" placement="top" class="far fa-edit" (click)="editState = !editState"></i>
    </div>
    <!-- Editar nombre de la orden -->
    <div class="purchaseNameEdit d-flex justify-content-between align-items-center" *ngIf="editState">
      <input type="text" class="form-control" [(ngModel)]="purchase.name">
      <i popover="Save name" triggers="mouseenter:mouseleave" placement="top" class="far fa-save" (click)="saveName()"></i>
    </div>

    <hr>
    <!-- Otras opciones -->
    <div class="container">

      <div class="bloque">
        <div class="botones">
          <button class="btn btn-medium btn-yellow" popover="Edit & re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-pencil-alt"></i></button>
          <button class="btn btn-medium btn-yellow sec" popover="Re-order" triggers="mouseenter:mouseleave" placement="bottom"><i class="fas fa-redo-alt"></i></button>
        </div>
        <span class="precio">{{ purchase.totalPrice | currency:'USD' }}</span>
      </div>

    </div>


  </div>
</div>
