.divCard {
  background: #2b2923;
  color: rgb(233, 223, 183);
  padding-top: 10px;
  text-shadow: 4px 4px 4px #000000;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 0px;
}

.botones {
  text-align:  center;
}

.far {
  margin-right: 26px;
  transition: .3s;
  font-size: 36px;
  cursor: pointer;
}

.far:hover {
  font-size: 40px;
  color: rgb(165, 159, 136);
}

.bloque {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.precio {
  align-self: center;
  margin-right: 30px;
  font-weight: 900;
  color: rgb(160, 147, 98);
  font-size: 50px;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 4px 4px 4px #000000;
  cursor: default;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(70, 68, 63);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 98%;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-right: 4px;
  -webkit-transition: 4s;
  -moz-transition: 4s;
  transition: 4s;     
  
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.name:hover {
  margin-left: -200px;
}

.purchaseName {
  margin-left: 12px;
  padding-left: 1px; 
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 35px;
  cursor: default;
  overflow: hidden;
}

.purchaseNameEdit {
  margin-left: 12px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 35px;
  cursor: default;
}

.datos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 30px;
}

.fecha {
  font-size: 30px;
  justify-self: center;
}

.delivered{
  font-size: 33px;
  font-weight: 900;
  color: rgb(62, 133, 43);
  padding-bottom: 5px;
}

.notDelivered {
  font-size: 33px;
  font-weight: 900;
  color: rgb(168, 17, 17);
  padding-bottom: 5px;
}

.form-control {
  font-family: 'Ubuntu Condensed', sans-serif;
  border-radius: 5px;
  border-color: rgb(66, 64, 56); 
  background: transparent; 
  color: rgb(233, 223, 183);
  text-shadow: 4px 4px 4px #000000;
  font-size: 35px;
  padding: 25px 0;
  width: 74%;
}

//  Cuando sea vista movil
@media (max-width: 769px) {
  .btn-medium {
    font-size: 1em;
    width: 180px;
    margin-right: 20px;
  }
}

//  Cuando sea vista movil
@media (max-width: 769px) and (min-width: 576px) {
  .datos {
    justify-content: center;
  }
}

//  Cuando sea vista movil
@media (min-width: 380px) and (max-width: 444px) {
  .btn-medium {
    font-size: 1em;
    width: 80px !important;
  }
}

//  Cuando sea vista movil
@media (min-width: 444px) and (max-width: 575px) {
  .btn-medium {
    font-size: 1em;
    width: 110px !important;
  }
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .purchaseName {
    font-size: 26px;
  }

  .form-control {
    text-shadow: 4px 4px 4px #000000;
    font-size: 26px;
    padding: 18px 0;
  }

  .btn-medium {
    font-size: 0.9em;
    width: 50vw !important;
    margin-right: 10px !important;
  }

  .botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sec {
    margin-right: 10px !important;
  }

  .precio {
    font-size: 30px;
    margin-right: 5px;
    width: 112px;
  }

  .container {
    padding-left: 12px;
  }

  .fecha {
    font-size: 21px;
  }
  
  .delivered{
    font-size: 29px;
  }
  
  .notDelivered {
    font-size: 29px;
  }
}

//  Cuando sea vista movil
@media (max-width: 379px) {
  .precio {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 50px;
  }
}

//  Cuando sea vista movil
@media (max-width: 520px) {
  .datos {
    justify-content: center;
  }
}

//  Cuando sea máximo 991
@media (max-width: 991px) {
  .precio {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 60px;
  }

  .btn-medium {
    width: 50vw !important;
  }

  .sec {
    margin-right: 10px !important;
  }
  

  .botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// Estilos del botón
.btn {
  margin-top: .8rem;
  margin-bottom: .7rem;
  margin-right: 60px;
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
}

.btn-medium {
  font-size: 1.1em;
  padding: 15px;
  width: 250px;
}

.btn-yellow {
  color: #F8C822;
  border-color: #F8C822;
  background: transparent;
}
.btn-yellow:hover {
  background: #F8C822;
  color: rgb(37, 34, 28);
  border-color: #F8C822;
}