<div class="modal-header">
  <h4 class="modal-title pull-left">Instructions to Edit</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li><span class="iconList">»</span> You can select <span class="font-weight-bold font-italic">maximum</span> two different and <span class="font-weight-bold font-italic">minimum</span> one Side-Dishes.</li>
    <li><span class="iconList">»</span> If you select only one Side-Dish, this will be of a <span class="font-weight-bold font-italic">greater proportion</span> than if you select two Side-Dishes.</li>
    <li><span class="iconList">»</span> If you select two Side-Dishes, they will be distributed in two <span class="font-weight-bold font-italic">equal</span> parts.</li>
  </ul>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-medium btn-gray btn-block" (click)="bsModalRef.hide()">I got it!</button>
</div>