.foto{
  background: url("../../../assets/images/fotoLogin.png");
  background-size: cover;
  height: 550px;
}

.formulario {
  background-color: #23211A;
  background-size: cover;
  height: 550px;
}
