.bold {
  font-weight: 900;
  font-size: 16px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid rgb(92, 91, 88);
  margin-top: 0;
  margin-bottom: 30px;
  width: 98%;
}

.select {
  background: rgb(51, 49, 44) !important;
  color: rgb(233, 223, 183) !important;
}


// Estilos del botón
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-width: 2.5px;
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 20px;
}

.btn-gray {
  color: rgb(51, 49, 44);
  border-color: rgb(51, 49, 44);
  background: transparent;
}

.btn-gray:hover:enabled {
  background: rgb(51, 49, 44);
  color: rgb(233, 223, 183);
  border-color: rgb(51, 49, 44);
}

//  Cuando sea vista movil
@media (max-width: 990px) {
  .btn {
    width: 300px;
    margin-bottom: 8px;
  }
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .btn {
    font-size: 11px;
    width: 290px;
    margin-bottom: 6px;
  }

  .bold {
    font-weight: 900;
    font-size: 9px;
  }
}