.container-completo {
    height: 100%;
    background: rgb(37, 36, 31);
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

img {
    height: 50px;
}

.img2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}