* {
    cursor: default;
}

.container-completo {
    height: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    background: rgb(41, 40, 35);
    color: rgb(233, 223, 183);
    font-family: 'Amaranth', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

img {
    height: 70px;
}

.img2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
    .container-completo {
        font-size: 1.8rem;
    }

    img {
        height: 35px;
    }
}