<div class="container">
  <div class="row">
    <div class="col-4">

      <!-- Thumbnail del plato (si no es editable)-->
      <div class="divFoto" *ngIf="!dish.sideDishes && !this.showReal">
        <img [src]="dish.thumbnail">
        <span class="badge badge-warning" (click)="changePic()"><i class="fas fa-retweet"></i></span>
      </div>
      <!-- Thumbnail del plato (si es editable)-->
      <div class="divFoto" *ngIf="dish.sideDishes && !this.showReal">
        <img src="../../../../assets/images/platos/Plato.png" class="plato">  <!-- Foto del plato -->
        <img [src]="dish.thumbnail" class="mainDish">  <!-- Foto del Main-Dish -->
        <!-- Si es ingrediente doble -->
        <ng-container *ngIf="(sideDishes.length === 2) && (dish.sideDishes[0] == dish.sideDishes[1])">
          <img src="{{ sideDishes[0]?.thumbnailPlatoDoble }}" class="dobleSide">  <!-- Foto del Side-Dish doble-->
        </ng-container>
        <!-- Si NO es ingrediente doble -->
        <ng-container *ngIf="(sideDishes.length === 2) && (dish.sideDishes[0] != dish.sideDishes[1])">
          <img src="{{ sideDishes[0]?.thumbnailPlatoArriba }}" class="primerSide">  <!-- Foto del primer Side-Dish -->
          <img src="{{ sideDishes[1]?.thumbnailPlatoArriba }}" class="segundoSide">  <!-- Foto del segundo Side-Dish -->
        </ng-container>
        <span class="badge badge-warning" (click)="changePic()"><i class="fas fa-retweet"></i></span>
      </div>

      <div class="divFoto" *ngIf="this.showReal">
          <img [src]="dish.thumbnailReal" class="platoReal">  <!-- Foto del plato real -->
          <span class="badge badge-warning" (click)="changePic()"><i class="fas fa-retweet"></i></span>
      </div>

    </div>
    <div class="col-8">
      
      <!-- Información del plato -->
      <div class="divInfo">
        <p class="nameDish">{{ dish.name }}</p>
        <hr>
        <div class="iconOpciones">
          <a (click)="editDish()" class="clickable" *ngIf="dish.sideDishes"><i class="fa fa-edit fa-5x"></i></a>
          <a class="clickable" *ngIf="!dish.sideDishes" popover="Non-Editable Dish" triggers="mouseenter:mouseleave" placement="bottom"><i class="fa fa-edit fa-5x noDispon"></i></a>
          <a (click)="addDish()" class="clickable"><i class="fa fa-cart-plus fa-5x"></i></a>
          <span class="dishPrice">{{ dish.price | currency : "USD" }}</span>
        </div>
      </div>

    </div>
  </div>
</div>
