.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(233, 223, 183);
  background: rgb(41, 40, 35);
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  padding: 7px 7px;
  width: 100%;
  cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #F8C822;
  color: rgb(41, 40, 35);
}

.bold {
  font-weight: 100;
  font-style: oblique;
}

.input-group {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(110, 105, 104);
}

.form-control, .custom-select {
  border-radius: 0;
  height: 45px;
}

.input-group-text {
  border-radius: 0;
}

label {
  margin-bottom: 0;
}

.form-group {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.dolar {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .inputfile + label {
    font-size: 1em;
  }
}

//  Cuando sea vista movil
@media (max-width: 375px) {
  .inputfile + label {
    font-size: 0.85em;
  }
}

// Estilos de los botones
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-weight: 800;
  border-width: 2.5px;
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 70px;
}

.btn-gray {
  color: rgb(51, 49, 44);
  border-color: rgb(51, 49, 44);
  background: transparent;
}

.btn-gray:hover:enabled {
  background: rgb(51, 49, 44);
  color: rgb(233, 223, 183);
  border-color: rgb(51, 49, 44);
}

.disabled{
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
