<div class="cuadrado">
  <!-- Título -->
  <div class="title">
    <p>Sign In &nbsp;<i class="fa fa-sign-in-alt"></i></p>
    <hr>
  </div>
  <!-- Form de logueo -->
  <div>
    <div class="container">
      <form (submit)="onSubmit()">
        <div class="form-group mt-5">
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email" required>
        </div>
        <div class="form-group mt-4">
          <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>