.titleBanner {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  margin: 0;
  margin-bottom: 30px;
}

.divDishes {
  background: #38362d;
  margin-right: 5px;
  height: 100%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}

.divView {
  background: #23211a;
  margin-left: 5px;
  height: 100%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}

.stickyPanel {
  position: fixed;
}

.sideDishes {
  display: flex;
  justify-content: space-between;
}

.dishView {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dishView img{
  width: 60%;
  max-width: 200px;
}

.titleDish, .priceDish {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vw;
  text-shadow: 4px 4px 4px #000000;
  cursor: default;
}

.titleMin {
  margin-left: 40px;
  margin-right: 40px;
}

.priceDish {
  font-family: 'Fjalla One', sans-serif;
}

.titleDish {
  font-weight: bold;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(248, 200, 34, 1);
  margin-top: 0;
  margin-bottom: 5px;
  width: 98%;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
}

.fa {
  font-size: 25px;
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .title1 {
    margin: 0;
  }

  .row {
    margin-bottom: 0;
  }

  .col-lg-9 {
    padding-right: 0;
    padding-left: 10px;;
  }

  .col-lg-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .titleDish, .priceDish {
    font-size: 24px;
  }

  .titleMin {
    margin-left: 20px;
    margin-right: 20px;
  }

  .divDishes, .divView {
    box-shadow: none;
  }

}

//  Cuando sea máximo 992
@media (max-width: 992px) {
  .title1 {
    margin: 0;
  }

  .row {
    margin-bottom: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .divDishes, .divView {
    margin: 0;
  }

  .col-md-9 {
    padding-right: 0;
    padding-left: 0;
  }

  .col-md-3 {
    padding-right: 0;
    padding-left: 0;
  }

  .divView, .divDishes {
    box-shadow: none;
  }

  .titleDish, .priceDish {
    font-size: 21px;
  }
}

//  Cuando sea maximo 767px
@media (max-width: 767px) {
  .stickyPanel {
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .titleDish, .priceDish {
    font-size: 25px;
  }
}

// Estilos del botón
.btn, .btn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  position: relative;
  background: none;
  border: 2px solid rgba(248, 200, 34, 1);
  font-family: 'Ubuntu', sans-serif; 
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px #000000;
}

.btn::before,
.btn::after {
  background: rgba(248, 200, 34, 1);
  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #000;
  border: 0;
  text-shadow: none;
}

.btn-primary {
  overflow: hidden;
}

.btn-primary::after {
  height: 100%;
  left: -5%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: bottom left;
  width: 0;
}

.btn-primary:hover:after {
  height: 100%;
  width: 135%;
}

.btn-primary:active {
  background: transparent !important;
  color: #000 !important;
}




