<div class="titleBanner title1">
    <app-title-banner [title]="'Customize'"></app-title-banner>
</div>

<div class="container-fluid">
  <div class="divSideDish">
    <div class="row">
        <!-- Ingredientes -->
        <div class="col-md-9 col-sm-12">
          <div class="divDishes">
            <div class="sideDishes">
              <p class="titleDish">PIZZA PEPPERONNI</p>
              <p class="priceDish">$17.00</p>
            </div>
            <hr>
            <div class="titleBanner titleMin">
                <app-title-banner [title]="'Side Dish'"></app-title-banner>
            </div>
            <div class="dishes">
              <div class="row text-center">
                <!-- Mostrar todos los SideDish  -->
                <ng-container *ngFor="let sideDish of sideDishes">
                  <div class="col-xl-3 col-lg-4 col-sm-6">
                    <app-side-dish-card [sideDish]="sideDish" [cantSideDishSelected]="cantSideDishSelected" (changeCant)="onChangeCant($event)"></app-side-dish-card>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
        <!-- Vista del plato -->
        <div class="col-md-3 col-sm-12">
          <div class="divView text-center">
            <div class="stickyPanel">
              <p class="titleDish">YOUR DISH</p>
              <hr>
              <div class="dishView">
                <img src="../../../assets/images/platos/Plato.png" alt="">
              </div>
              <button class="btn btn-primary btn-block">Add &nbsp;<i class="fa fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
