<div class="titleBanner">
    <app-title-banner [title]="'Cutomize your Dish'"></app-title-banner>
</div>

<div class="container-fluid">
  <div class="divSideDish">
    <div class="row">
        <!-- Ingredientes -->
        <div class="col-lg-9 col-sm-12">
          <div class="divDishes">
            <div class="sideDishes">
              <p class="titleDish">ONION SOUP</p>
              <p class="priceDish">$17.00</p>
            </div>
            <hr>
            <div class="titleBanner">
                <app-title-banner [title]="'SIDE DISH'"></app-title-banner>
            </div>
            <div class="dishes">
              <div class="row text-center">

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="thumbnailSideDish">
                      <img src="../../../assets/images/ingredientes/vista/Camarones.png" alt="">
                  </div>
                  <div class="botonesAdd">
                    <button class="btn btn-sm btn-success">+</button>
                    <button class="btn btn-sm btn-warning">-</button>
                    <p class="cantidad">2</p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="thumbnailSideDish">
                      <img src="../../../assets/images/ingredientes/vista/Papas.png" alt="">
                  </div>
                  <div class="botonesAdd">
                    <button class="btn btn-sm btn-success">+</button>
                    <button class="btn btn-sm btn-warning">-</button>
                    <p class="cantidad">2</p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="thumbnailSideDish">
                    <img src="../../../assets/images/ingredientes/vista/Brocoli.png" alt="">
                  </div>
                  <div class="botonesAdd">
                    <button class="btn btn-sm btn-success">+</button>
                    <button class="btn btn-sm btn-warning">-</button>
                    <p class="cantidad">2</p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="thumbnailSideDish">
                      <img src="../../../assets/images/ingredientes/vista/PapasFritas.png" alt="">
                  </div>
                  <div class="botonesAdd">
                    <button class="btn btn-sm btn-success">+</button>
                    <button class="btn btn-sm btn-warning">-</button>
                    <p class="cantidad">2</p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="thumbnailSideDish">
                      <img src="../../../assets/images/ingredientes/vista/Brocoli.png" alt="">
                  </div>
                  <div class="botonesAdd">
                    <button class="btn btn-sm btn-success">+</button>
                    <button class="btn btn-sm btn-warning">-</button>
                    <p class="cantidad">2</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Vista del plato -->
        <div class="col-lg-3 col-sm-12">
          <div class="divView text-center">
            <p class="titleDish">YOUR DISH</p>
            <hr>
            <div class="dishView">
              <img src="../../../assets/images/platos/SopaCebolla.png" alt="">
            </div>
            <button class="btn mb-4">Add to order</button>
          </div>
        </div>
      </div>
  </div>
</div>
