.titleBanner {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  margin: 0;
  margin-bottom: 30px;
}

.title{
  margin: 22px 0;
}

.dishes {
  padding-top: 3%;
}

.divDishes {
  background: #38362d;
  margin-right: 5px;
  min-height: 100%;
  padding-bottom: 3.5vw;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

app-sticky-dish-view {
  display: block;
  background: #23211a;
  height: 100%;
  min-height: 420px;
}

.sideDishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loadingDiv {
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
  width: 100%;
  margin: 10px 50px;
  color: rgb(233, 223, 183);
  background: #23211a;
}

.titleDish, .priceDish {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding-top: 8px;
  color: rgb(233, 223, 183);
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3vw;
  text-shadow: 4px 4px 4px #000000;
  cursor: default;
}

.titleMin {
  margin-left: 40px;
  margin-right: 40px;
}

.priceDish {
  font-family: 'Fjalla One', sans-serif;
}

.titleDish {
  font-weight: 400;
  font-size: 3.5vw;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(248, 200, 34, 1);
  margin-top: 0;
  margin-bottom: 5px;
  width: 98%;
}

.fa {
  font-size: 25px;
}

.row {
  margin-bottom: 0;
}

.container-fluid {
  // padding: 0;
  margin-bottom: 30px;
}

.divDishes {
  margin: 0px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  font-family: 'Ubuntu', sans-serif;
}

.modal-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: rgb(179, 168, 127);
  text-shadow: 1px 1px 1px #000000;
}

.modal-body, .modal-header, .modal-footer {
  background: #535149;
}

.modal-body {
  color: rgb(182, 173, 143);
  padding: 26px 40px;
  text-align: justify;
}

.iconList {
  font-weight: bold;
  font-size: 24px;
}

.font-italic {
  color: rgb(202, 196, 176);
}

//  Cuando sea vista movil
@media (max-width: 575px) {
  .title1 {
    margin: 0;
  }

  .row {
    margin-bottom: 0;
  }

  .col-xs {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-9 {
    padding-right: 0;
    padding-left: 10px;;
  }

  .col-lg-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .titleDish, .priceDish {
    font-size: 24px;
  }

  .titleMin {
    margin-left: 20px;
    margin-right: 20px;
  }

  .divDishes {
    box-shadow: none;
  }

  .display-4 {
    font-size: 25px;
  }
}

//  Cuando sea vista movil
@media (max-width: 400px) {
  .modal-title {
    font-size: 32px;
  }
}

//  Cuando sea máximo 992
@media (max-width: 992px) {
  .row {
    margin-bottom: 0;
  }

  .title{
    margin: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  .divDishes {
    margin: 0px;
  }

  .col-md-9 {
    padding-right: 0;
    padding-left: 0;
  }

  .col-md-3 {
    padding-right: 0;
    padding-left: 0;
  }

  .divDishes {
    box-shadow: none;
  }

  .titleDish, .priceDish {
    font-size: 21px;
  }
}

//  Cuando sea maximo 767px
@media (max-width: 767px) {
  .titleDish, .priceDish {
    font-size: 22px;
  }
}


// Estilos de los botones
.btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-weight: 800;
  border-width: 2.5px;
}

.btn-medium {
  font-size: 1.3em;
  padding: 12px 70px;
}

.btn-gray {
  color: rgb(179, 168, 127);
  border-color: rgb(179, 168, 127);
  background: transparent;
}

.btn-gray:hover {
  background: rgb(105, 102, 93);
  color: rgb(233, 223, 183);
  border-color: rgb(105, 102, 93);
}
