.thumbnailSideDish {
  background: #23211a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  width: 70%;
  max-width: 150px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 10px;
  position: relative;
  padding: 4px;
  border-radius: 6px;
}

.thumbnailSideDish img{
  width: 100%;
  max-width: 200px;
  transition: .4s;
}

.badge {
  position: absolute;
  top: -5%;
  left: 92%;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
}

.textHover {
  position: absolute;
  color: whitesmoke;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 28px;
  text-align: center;
  z-index: 1;
  top: 35%;
  width: 100%;
  opacity: 0;
  transition: .4s;
  cursor: default;
}

.thumbnailSideDish:hover img {
  filter: blur(2px) brightness(50%);
}

.thumbnailSideDish:hover .textHover {
  opacity: 1;
}

.botonesAdd {
  margin-bottom: 25px;
}

.cantidad {
  color: white;
  font-size: 15px;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  outline: none;
  border-radius: 100px;
}

.btn-success {
  background: rgb(53, 90, 43);
  border: 0;
}

.btn-danger {
  background: rgb(93, 41, 41);
  border: 0;
}

.form-control {
  background-color: transparent;
  color: whitesmoke;
  border-color: white;
  border-radius: 0;
  border: 0;
  outline: 0;
  font-family: 'Fjalla One', sans-serif;
}
