<!-- Thumbnail del ingrediente -->
<div class="thumbnailSideDish">
  <img [src]="sideDish.thumbnailVista" alt="">
  <span class="badge badge-warning">{{ cant }}</span>
  <p class="textHover">{{ sideDish.name }}</p>
</div>
<!-- Botones de subir y bajar cantidad -->
<div class="botonesAdd">
  <div class="input-group justify-content-center">
      <button type="button" class="btn btn-danger" (click)="substract()" [disabled]="this.cant == 0"><i class="fa fa-minus"></i></button>
    <!-- <input type="text" class="form-control text-center" [value]="cant" readonly disabled> -->
      <button type="button" class="btn btn-success" (click)="add()" [disabled]="this.cantSideDishSelected == 2 "><i class="fa fa-plus"></i></button>
  </div>
</div>
