.thumbnailSideDish {
  background: #23211a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  width: 70%;
  max-width: 200px;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  padding: 4px;
}

.thumbnailSideDish img{
  width: 100%;
  max-width: 200px;
  transition: .5s;
}

.textHover {
  position: absolute;
  color: whitesmoke;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 28px;
  text-align: center;
  z-index: 1;
  top: 35%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  cursor: default;
}

.thumbnailSideDish:hover img {
  filter: blur(2px) brightness(50%);
}

.thumbnailSideDish:hover .textHover {
  opacity: 1;
}

.botonesAdd {
  justify-content: space-around;
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 150px;
  margin: auto;
  margin-bottom: 15px;
  width: 150px;
}

.cantidad {
  color: white;
  font-size: 15px;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-success {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.form-control {
  background-color: transparent;
  color: whitesmoke;
  border-color: white;
  border-radius: 0;
  border: 0;
  outline: 0;
  font-family: 'Fjalla One', sans-serif;
}
