.thumbnailSideDish {
  background: #23211a;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
  width: 70%;
  max-width: 200px;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.thumbnailSideDish img{
  width: 100%;
  max-width: 200px;
}

.botonesAdd {
  justify-content: space-around;
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 200px;
  margin: auto;
  margin-bottom: 15px;
}

.cantidad {
  color: white;
  font-size: 15px;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
}
