<nav class="navbar navbar-dark">
  <!-- Logo de uMakeIt junto con el nombre -->
  <a class="navbar-brand" routerLink="/">
    <img src="../../../../assets/images/logo.png" height="40" class="d-inline-block align-top" alt="">
    <span class="ml-4 align-content-center titulo">uMakeIt!</span>
  </a>

  <!-- Opciones de usuario -->
  <div class="btn-group" dropdown placement="bottom right" *ngIf="isLoggedIn">
    <button id="dropdown-basic" class="navbar-toggler boton" type="button" dropdownToggle aria-controls="dropdown-basic">
      <span class="nameUser">{{ nameUserLoggedIn }}&nbsp;&nbsp;</span><i class="fa fa-bars"></i> 
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" routerLink="/cart"><i class="fa fa-shopping-cart"></i> &nbsp;&nbsp;&nbsp;Order</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/purchases"><i class="fa fa-history"></i> &nbsp;&nbsp;&nbsp;Shopping History</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/change-password"><i class="fa fa-unlock"></i> &nbsp;&nbsp;&nbsp;Change Password</a></li>
      <li role="menuitem" *ngIf="isAdmin"><a class="dropdown-item" routerLink="/admin"><i class="fa fa-cogs"></i> &nbsp;&nbsp;&nbsp;Administrator</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item logout" (click)="onLogoutClick()" href="#"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;&nbsp;Logout</a></li>
    </ul>
  </div>
  
</nav>