.format{
    background-color: #23211A;
    font-family: 'Ubuntu', sans-serif;
}

table td, table thead tr{
    color: white;
}

.thumbnail{
    width: 80px;
    height: 80px;
}

.danger{
    color: red;
}