<nav class="navbar fixed-bottom ">
  
    <span class="navbar-text about col-md-4 col-sm-12 text-center"><a href="#">About uMakeIt!</a></span>
    <span class="navbar-text col-md-4 col-sm-12 text-center">© uMakeIt - CRR Company.</span>

    <span class="navbar-text images col-md-4 col-sm-12 text-center">
      <a href="#"><img src="../../../../assets/images/github.png" width="20" alt="github" class="ml-3"></a>
      <span class="linea ml-3">|</span>
      <a href="#"><img src="../../../../assets/images/facebook.png" width="20" alt="facebook" class="ml-3"></a>
      <a href="#"><img src="../../../../assets/images/twitter.png" width="20" alt="twitter" class="ml-3"></a>
      <a href="#"><img src="../../../../assets/images/instagram.png" width="20" alt="instagram" class="ml-3"></a>
    </span>

</nav>